.faq-section {
  @include media(desktop) {
  }
}

.faq-bg-wrapper {
  padding-top: 96px;
  padding-bottom: 96px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1440px;
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-content-wrapper {
  @include media(desktop) {
  }
}

.faq-title {
  @include media(desktop) {
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.faq-list-item {
  background: #1928f8;
  border: 2px solid #272e2f;
  border-radius: 8px;
  padding: 22px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 636px;
  }
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 100%;

  @include media(desktop) {
  }
}

.faq-btn-text {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33333;
  color: #fff;
  text-align: left;

  @include media(desktop) {
  }
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  height: 24px;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-icon {
  @include media(desktop) {
  }
}

.faq-bottom-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
  }
}

.is-visible {
  margin-top: 24px;
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}
