.footer {
  background: #088df2;

  @include media(desktop) {
  }
}

.footer-bg-wrapper {
  padding-top: 24px;
  padding-bottom: 24px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.footer-container {
  @include media(desktop) {
  }
}

.footer-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(desktop) {
  }
}

.footer-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @include media(desktop) {
  }
}

.footer-logo-img {
  min-width: 70px;

  @include media(desktop) {
  }
}

.footer-logo-span {
  font-family: 'Luckiest Guy', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.16667;
  color: #fff;

  @include media(desktop) {
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 40px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;

  @include media(desktop) {
  }
}

.footer-list-item {
  @include media(desktop) {
  }
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fff;

  @include media(desktop) {
  }
}

.footer-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fff;

  @include media(desktop) {
  }
}
