.policy-section {
  padding-top: 230px;
  padding-bottom: 80px;
  background-image: url(../img/policy/policy-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 238px;
    padding-bottom: 100px;
    background-image: url(../img/policy/policy-bg-desk.png);
  }
}

.policy-section h1 {
  font-family: 'Luckiest Guy', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  text-align: center;
  color: #fff;
  margin-bottom: 246px;

  @include media(desktop) {
    font-size: 64px;
    margin-bottom: 258px;
  }
}

.policy-section h2 {
  font-family: 'Luckiest Guy', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #272e2f;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 48px;
  }
}

.policy-section h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: #272e2f;
  margin-bottom: 16px;
  word-break: break-all;

  @include media(desktop) {
  }
}

.policy-section h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #272e2f;
  margin-bottom: 16px;
  word-break: break-all;

  @include media(desktop) {
  }
}

.policy-section p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272e2f;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}
.policy-section li {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272e2f;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-section a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  word-break: break-all;

  @include media(desktop) {
  }
}

.policy-section span {
  @include media(desktop) {
  }
}
