<section class="section faq-section" id="faq">
  <div class="faq-bg-wrapper">
    <div class="container faq-container">
      <div class="faq-content-wrapper">
        <h2 class="section-title faq-title">FAQ</h2>
        <ul class="faq-list">
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Is Block Escape free to play?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-arrow"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Yes, completely free to download and play with optional ads and
              in-app purchases.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >What type of puzzles does it have?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-arrow"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Tap-away block removal, sliding mechanics, path twisting, and
              directional logic challenges.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">How many levels are there?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-arrow"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Hundreds of levels that get progressively trickier, with different
              themes to keep things interesting.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Can I play offline?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-arrow"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Yes, fully playable offline anytime — perfect for travel or quick
              breaks.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
