<section class="features-section section" id="features">
  <div class="features-section-wrapper">
    <div class="container features-container">
      <h2 class="section-title features-title">Features</h2>
      <ul class="features-list">
        <li class="features-list-item">
          <img
            class="features-img"
            src="./img/features/features-img1.png"
            alt="Screenshot of the game"
            width="110"
            height="66"
          />
          <h3 class="features-item-title">Smart Block Movement</h3>
          <p class="features-item-text">
            Tap blocks to remove them or slide them smoothly to clear paths and
            create exits.
          </p>
        </li>
        <li class="features-list-item">
          <img
            class="features-img"
            src="./img/features/features-img2.png"
            alt="Screenshot of the game"
            width="90"
            height="48"
          />
          <h3 class="features-item-title">Twisty Direction Puzzles</h3>
          <p class="features-item-text">
            Master route-twisting mechanics and directional logic that get more
            complex with every level.
          </p>
        </li>
        <li class="features-list-item">
          <img
            class="features-img"
            src="./img/features/features-img3.png"
            alt="Screenshot of the game"
            width="86"
            height="48"
          />
          <h3 class="features-item-title">Relaxing Yet Strategic</h3>
          <p class="features-item-text">
            Perfect for quick gaming sessions - starts simple but gets pretty
            tricky. No annoying timers though, so you can think at your own
            pace.
          </p>
        </li>
        <li class="features-list-item">
          <img
            class="features-img"
            src="./img/features/features-img4.png"
            alt="Screenshot of the game"
            width="110"
            height="66"
          />
          <h3 class="features-item-title">Hundreds of Levels</h3>
          <p class="features-item-text">
            Tons of levels that remind me of those classic unblock games and
            stuff like Color Block Jam. There's always another puzzle to tackle.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
