<section class="features-section section" id="features">
  <div class="features-section-wrapper">
    <div class="container features-container">
      <h2 class="section-title features-title">Features</h2>
      <ul class="features-list">
        <li class="features-list-item">
          <div class="features-item-title-wrapper">
            <img
              class="features-img"
              src="./img/features/features-img1.png"
              alt="Screenshot of the game"
              width="37"
              height="50"
            />
            <h3 class="features-item-title">Fluid Vector Drawing</h3>
          </div>
          <p class="features-item-text">
            The controls are really smooth - you can draw and adjust paths
            without any lag or weird glitches.
          </p>
        </li>
        <li class="features-list-item">
          <div class="features-item-title-wrapper">
            <img
              class="features-img"
              src="./img/features/features-img2.png"
              alt="Screenshot of the game"
              width="37"
              height="50"
            />
            <h3 class="features-item-title">Dynamic Node Networks</h3>
          </div>
          <p class="features-item-text">
            The nodes keep moving around and sometimes there's suddenly more of
            them, so you've gotta think fast and change your strategy.
          </p>
        </li>
        <li class="features-list-item">
          <div class="features-item-title-wrapper">
            <img
              class="features-img"
              src="./img/features/features-img3.png"
              alt="Screenshot of the game"
              width="50"
              height="50"
            />
            <h3 class="features-item-title">Cascading Energy Flows</h3>
          </div>
          <p class="features-item-text">
            Get the connections right and you'll trigger these cool chain
            reactions that rack up points and unlock extra stuff.
          </p>
        </li>
        <li class="features-list-item">
          <div class="features-item-title-wrapper">
            <img
              class="features-img"
              src="./img/features/features-img4.png"
              alt="Screenshot of the game"
              width="50"
              height="50"
            />
            <h3 class="features-item-title">Progressive Mastery</h3>
          </div>
          <p class="features-item-text">
            There's tons of puzzles (we're talking hundreds) plus an endless
            mode. Each level throws new tricks at you and gets trickier.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
